/* kinda speaks for it's self, doesn't it? */
body {
    background: black;
    color: white;
}
header {
    border: 2px dashed #d10000;
}
    
/* BUTTONS!!!! */
body button{
  background-color: black;
  border:2px solid #d10000;
  color: #d10000;
  outline: none;
  cursor: pointer;
  padding: 4px 6px;
  transition: 0.3s;
}
body button:hover {
  background-color: #880000;
  border-color: #ee0000;
  color: white;
}
body button.active {
  background-color: #ee0000;
  border-color: #880000;
  color: black;
}
/* title and intro styling */
h1 {
    color: #d10000;
}

.titles {
    color: #d10000;
    border: 1px solid white;
    margin: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0px 0px;
}

.mainText {
    text-align: center;
};

/* button styling */

/* Tab CSS */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: black;
  border: 5px solid #d10000;
  color: #d10000;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #880000;
  border-color: #ee0000;
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ee0000;
  border-color: #880000;
  color: black;
}

/* Style the tab content */
.tabcontent {
  text-align: center;
  display: none;
  padding: 6px 12px;
  border: 1px solid #d10000;
}


